<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <title>LogIn</title>
</head>
<html>
<body>
  <div class="signin">
    <div class="back-img">
      <div class="sign-in-text">
        <h2 class="active">Log In</h2>
        <!-- <h2 class="nonactive">Sign Up</h2> -->
      </div><!--/.sign-in-text-->
      <div class="layer">
      </div><!--/.layer-->
      <!-- <p class="point">&#9650;</p> -->
    </div><!--/.back-img-->
    <div class="form-section">
     
      <form action="/login" method="POST">
        <!--Email-->
    
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="sample3">Email</label>
          <input type="email" class="mdl-textfield__input" name="username" id="sample3" required>
        </div>
        <br/>
        <br/>
        <!--Password-->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="sample3">Password</label>
          <input class="mdl-textfield__input" type="password" name="password" id="sample3" required>

        </div>
        <br/>
        <br>
        <br>
      <p style="display:inline" >Don't have an account ? </p>
      <a href="/register" role="button" > Register</a>
      </div><!--/.form-section-->
      
      <button type="submit" class="sign-in-btn mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored" >
           Log In
      </button>
      <!--/button-->
   </div><!--/.signin-->
      </form>
 
</body>
</html>

<!--  styling credit : https://codepen.io/Strusovsky/pen/GxWPvJ?editors=1000  -->