<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up </title>

</head>
<body>
    

        <h3>Push Pull Code:  Newsletter</h3>
            <form action="/signup" method="post" >
                <div class="inputbox"> <input type="text" name="firstName" class="form-control" required="required" autocomplete="off"> <span> first name</span> </div>
                <div class="inputbox"> <input type="text" name="lastName" class="form-control" required="required" autocomplete="off"> <span>last name</span> </div>
                <div class="inputbox"> <input type="email" name="email" class="form-control" required="required" autocomplete="off"> <span>email</span> </div> 
                <button class="btn btn-danger btn-block" >Send</button>
            </form>
   

            <br>
            <br>
            
            <form action="/" method="get">

                <button type="submit" name="home" > back </button>
                
            </form>
</body>
</html>